@font-face {
    font-family: 'Gotham Pro';
    src: url('/fonts/GothamPro-Bold.eot');
    src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
        url('/fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/GothamPro-Bold.woff2') format('woff2'),
        url('/fonts/GothamPro-Bold.woff') format('woff'),
        url('/fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Gotham Pro';
    src: url('/fonts/GothamPro-Medium.eot');
    src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
        url('/fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/GothamPro-Medium.woff2') format('woff2'),
        url('/fonts/GothamPro-Medium.woff') format('woff'),
        url('/fonts/GothamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Regular'), local('Gotham-Pro-Regular'),
        url('/fonts/GothamPro.woff2') format('woff2'),
        url('/fonts/GothamPro.woff') format('woff'),
        url('/fonts/GothamPro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'ALSSchlangeSans';
    src: local('ALS Schlange Sans Bold'), local('ALS-Schlange-Sans-Bold'),
        url('/fonts/ALSSchlangesans-Bold.woff2') format('woff2'),
        url('/fonts/ALSSchlangesans-Bold.woff') format('woff'),
        url('/fonts/ALSSchlangesans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
        url('/fonts/Inter-Regular.woff2') format('woff2'),
        url('/fonts/Inter-Regular.woff') format('woff'),
        url('/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Regular'), local('Helvetica-Regular'),
        url('/fonts/Helvetica.woff2') format('woff2'),
        url('/fonts/Helvetica.woff') format('woff'),
        url('/fonts/Helvetica.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }



